<component name="ArtifactManager">
  <artifact type="war" name="SpringMVC-01-hello:war">
    <output-path>$PROJECT_DIR$/SpringMVC-01-hello/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVC-01-hello</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVC-01-hello-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVC-01-hello:war exploded" />
    </root>
  </artifact>
</component>