<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.neu.pojo.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="DOUBLE" property="productPrice" />
    <result column="product_member_price" jdbcType="DOUBLE" property="productMemberPrice" />
    <result column="product_stock" jdbcType="INTEGER" property="productStock" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, product_name, product_price, product_member_price, product_stock
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neu.pojo.Product">
    insert into product (product_id, product_name, product_price, 
      product_member_price, product_stock)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DOUBLE}, 
      #{productMemberPrice,jdbcType=DOUBLE}, #{productStock,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neu.pojo.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productMemberPrice != null">
        product_member_price,
      </if>
      <if test="productStock != null">
        product_stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DOUBLE},
      </if>
      <if test="productMemberPrice != null">
        #{productMemberPrice,jdbcType=DOUBLE},
      </if>
      <if test="productStock != null">
        #{productStock,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neu.pojo.Product">
    update product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DOUBLE},
      </if>
      <if test="productMemberPrice != null">
        product_member_price = #{productMemberPrice,jdbcType=DOUBLE},
      </if>
      <if test="productStock != null">
        product_stock = #{productStock,jdbcType=INTEGER},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neu.pojo.Product">
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DOUBLE},
      product_member_price = #{productMemberPrice,jdbcType=DOUBLE},
      product_stock = #{productStock,jdbcType=INTEGER}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>