<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.dao.SaleRecordMapper">
  <resultMap id="BaseResultMap" type="com.neu.pojo.SaleRecord">
    <id column="list_id" jdbcType="VARCHAR" property="listId" />
    <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
    <result column="product_no" jdbcType="INTEGER" property="productNo" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_num" jdbcType="INTEGER" property="productNum" />
    <result column="product_price" jdbcType="DOUBLE" property="productPrice" />
    <result column="product_sum_price" jdbcType="DOUBLE" property="productSumPrice" />
    <result column="sum_price" jdbcType="DOUBLE" property="sumPrice" />
    <result column="consumer_type" jdbcType="CHAR" property="consumerType" />
  </resultMap>
  <sql id="Base_Column_List">
    list_id, trade_time, product_no, product_id, product_num, product_price, product_sum_price, 
    sum_price, consumer_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sale_record
    where list_id = #{listId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sale_record
    where list_id = #{listId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.neu.pojo.SaleRecord">
    insert into sale_record (list_id, trade_time, product_no, 
      product_id, product_num, product_price, 
      product_sum_price, sum_price, consumer_type
      )
    values (#{listId,jdbcType=VARCHAR}, #{tradeTime,jdbcType=TIMESTAMP}, #{productNo,jdbcType=INTEGER}, 
      #{productId,jdbcType=INTEGER}, #{productNum,jdbcType=INTEGER}, #{productPrice,jdbcType=DOUBLE}, 
      #{productSumPrice,jdbcType=DOUBLE}, #{sumPrice,jdbcType=DOUBLE}, #{consumerType,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neu.pojo.SaleRecord">
    insert into sale_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="listId != null">
        list_id,
      </if>
      <if test="tradeTime != null">
        trade_time,
      </if>
      <if test="productNo != null">
        product_no,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productNum != null">
        product_num,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productSumPrice != null">
        product_sum_price,
      </if>
      <if test="sumPrice != null">
        sum_price,
      </if>
      <if test="consumerType != null">
        consumer_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="listId != null">
        #{listId,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null">
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productNo != null">
        #{productNo,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productNum != null">
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DOUBLE},
      </if>
      <if test="productSumPrice != null">
        #{productSumPrice,jdbcType=DOUBLE},
      </if>
      <if test="sumPrice != null">
        #{sumPrice,jdbcType=DOUBLE},
      </if>
      <if test="consumerType != null">
        #{consumerType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neu.pojo.SaleRecord">
    update sale_record
    <set>
      <if test="tradeTime != null">
        trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productNo != null">
        product_no = #{productNo,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productNum != null">
        product_num = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DOUBLE},
      </if>
      <if test="productSumPrice != null">
        product_sum_price = #{productSumPrice,jdbcType=DOUBLE},
      </if>
      <if test="sumPrice != null">
        sum_price = #{sumPrice,jdbcType=DOUBLE},
      </if>
      <if test="consumerType != null">
        consumer_type = #{consumerType,jdbcType=CHAR},
      </if>
    </set>
    where list_id = #{listId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neu.pojo.SaleRecord">
    update sale_record
    set trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      product_no = #{productNo,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      product_num = #{productNum,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=DOUBLE},
      product_sum_price = #{productSumPrice,jdbcType=DOUBLE},
      sum_price = #{sumPrice,jdbcType=DOUBLE},
      consumer_type = #{consumerType,jdbcType=CHAR}
    where list_id = #{listId,jdbcType=VARCHAR}
  </update>
</mapper>