<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--声明Student对象-->
    <bean id="student1" class="com.neu.ba01.Student">
        <property name="id" value="1001"/>
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
        <property name="school" ref="school" />
    </bean>

    <!--声明引用类型-->
    <bean id="school" class="com.neu.ba01.School">
        <property name="schoolName" value="东北大学"/>
        <property name="address" value="和平区"/>
    </bean>
</beans>